name: Sync labels
on:
    workflow_dispatch:
    push:
        paths:
            - .github/labels.json

permissions:
    issues: write

jobs:
    labels:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6
              with:
                  sparse-checkout: .github/labels.json

            - uses: EndBug/label-sync@v2
              with:
                  config-file: .github/labels.json
                  token: ${{ secrets.GITHUB_TOKEN }}
                  delete-other-labels: true
